meta(charset='utf-8')
// <meta http-equiv="refresh" content="1">
meta(name='author', content='Alessandro Romanelli')
title AR - Home
link(rel='stylesheet', href='css/myAnimations.css')
link(rel='stylesheet', href='css/style.css')
