extends layout

block content
  .container
    #about-bg.background
      .caption.text-white
        p.relative.question The beginning
        h1.m-0.about-description.description
          | Born in 1994, I was always attracted to the world of computers and became a videogamer by the age of six with 
          a(href='https://en.wikipedia.org/wiki/Chip%27s_Challenge', target='_blank', rel='noopener') Chip's challenge
          | , which was my first videogame ever
        br
        hr
        br
        p.relative.question A wrong dream
        h1.m-0.about-description.description
          | Early on I dreamt about becoming an airline pilot flying for 
          a(href='https://www.swiss.com') Swiss
          | , after the military service I decide to give up on that dream as it wasn't something I really wanted and decide to become a programmer instead
        br
        hr
        a(href='document.pdf', target='_blank', rel='noopener')
          .my-cv.relative
            img(style='filter: invert(1)', src='img/pdf.svg', width='50', height='50', alt='Icon of a PDF file')
