extends layout

block content
  .container
    #future-bg.background
      .caption.text-white
        p.relative.question(style='letter-spacing: 4px') The challenges of tomorrow
        .flex-container
          .flex-item
            img(style='filter: invert(1);', src='img/usi.png', width='100', height='100', alt='USI Logo')
            br
            p.item-title Università Svizzera Italiana
            small Bachelor in Informatics
            p
              | In September 2017 I began my Bachelor studies at USI, where I'm going to spend the next three years or more. My plan is to then study for a Master yet to be decided, perhaps in Artificial Intelligence or Software Engineering.
          .separator
          .flex-item
            img(style='filter: invert(1);', src='img/work.svg', width='100', height='100', alt='Icon of a guy working at a desk')
            br
            p.item-title Office Employment
            small Fullstack Web Developer
            p
              | As the years go by, more and more new technologies make their way into today's world, this means that the demand for fullstack developer will never drop and office employment will always represents some kind of safe heaven.
          .separator
          .flex-item
            img(style='filter: invert(1);', src='img/research.svg', width='100', height='100', alt='Icon of scientific process')
            br
            p.item-title Research & Development
            small Expanding the frontier
            p
              | If there is a point to existence that is to leave something to those who'll come after we're gone. I'll consider myself lucky if I'll be able to develop some kind of techology or concept that can help human progress and future.
