extends layout

block content
  .container
    #home-bg.background
      .caption.text-white
        p.relative.question Who is Alessandro?
        h1.m-0.description
          | A young lifelong learner that tries to be a developer with a weakness for 
          a(href='https://en.wikipedia.org/wiki/Informatics', target='_blank', rel='noopener') informatics
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='js/quotes.js', charset='utf-8')
  
