extends layout

block content
  .container
    #past-bg.background
      .caption.text-white
        p.relative.question(style='letter-spacing: 4px') My Accomplishments
        .flex-container
          .flex-item
            img(src='img/saf.svg', width='100', height='100', alt='Swiss Armed Forces logo')
            br
            p.item-title Swiss Armed Forces
            small
              | Platoon Leader as 1
              sup st
              | Lt.
            p
              | Whilst enlisted in the Swiss army I was chosen to become officer and decided to follow the path that would eventually lead me to command up to sixty people during a period of over 6 months.
          .separator
          .flex-item
            img(src='img/goethe.png', width='100', height='100', alt='Goethe Institute logo')
            br
            p.item-title Goethe Institut
            small B2 Certificate of German
            p
              | After spending almost two years in the army I decided that it was time for me to learn a fourth language and enrolled in a German course that would last two months in Berlin. I ended up staying for one year.
          .separator
          .flex-item
            img(src='img/treehouse.png', width='100', height='100', alt='Team Treehouse logo')
            br
            p.item-title Team Treehouse
            small Fullstack JavaScript Developer
            p
              | After a year spent in Berlin I decided to dedicate myself entirely to programming and in order to do that as fast as possible I enrolled in a class highly focussed on the JavaScript technologies.
