extends layout

block content
  .container
    #project-bg.background
      .caption.text-white
        p.relative.question What is this?
        h1.m-0.description.project-description(style='font-size: 2.35em;')
          | This is a simple template website made mostly with 
          a(href='https://en.wikipedia.org/wiki/HTML5', target='_blank', rel='noopener') HTML5
          |  and 
          a(href='https://en.wikipedia.org/wiki/CSS', target='_blank', rel='noopener') CSS3
          |  without using any external stylesheet to show how powerful they can be with an extra kick provided by 
          a(href='https://en.wikipedia.org/wiki/JavaScript', target='_blank', rel='noopener') JavaScript
        br
        hr
        br
        p.relative.question and why am I here?
        h1.m-0.description.project-description
          | What you do in here is entirely up to you, you might linger and enjoy your stay as well as exploring any dark corner
        br
        small.hint
          a(href='http://starwars.wikia.com/wiki/Mind_trick', target='_blank', rel='noopener') You will grade this assignment positively
